/jswitcher-api/target/
/jswitcher-service/target/
/jswitcher-cli/target/
/jswitcher-service/nbproject/
/jswitcher-core/target/
/jswitcher-ui/target/
/target/
/jswitcher-spring-boot-starter/target/
/jswitcher-sample/target/
/jswitcher-api/bin/target/
/jswitcher-core/bin/target/
/jswitcher-sample/bin/target/
/jswitcher-spring-boot-starter/bin/target/
/jswitcher-ui/bin/target/