<html>
    <head>
        <title>端点列表</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div id="endpoints" class="container">
            <div class="row">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>开关</th>
                            <th>描述</th>
                            <th>状态</th>
                            <th>服务质量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="key in keys">
                            <td>{{ key.key }}</td>
                            <td>{{ key.describe }}</td>
                            <td>{{ key.open }}</td>
                            <td>{{ key.qos }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>实例</th>
                            <th>主机</th>
                            <th>端口</th>
                            <th>创建时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="endpoint in endpoints" v-on:click="getKeys(endpoint)">
                            <td>{{ endpoint.instanceId }}</td>
                            <td>{{ endpoint.host }}</td>
                            <td>{{ endpoint.port }}</td>
                            <td>{{ endpoint.createTime }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript">
var endpoints = new Vue({
    el: '#endpoints',
    data() {
        return {
            endpoints: [],
            keys: []
        };
    },
    methods: {
        getKeys : function (endpoint) {
            var url = 'http://localhost:8080/switcher/keys/' + endpoint.host + "/" + endpoint.port;
            axios.get(url).then(
                    (response) => {
                this.keys = response.data;
                console.log(this.keys);
            });
        }
    },
    mounted() {
        axios.get('http://localhost:8080/switcher/endpoints').then(
                (response) => {
            this.endpoints = response.data;
            console.log(endpoints);
        });
    }
});
        </script>
    </body>
</html>