<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>开关列表</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div id="app" class="container">
            <hr>
            <div>
                <form>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <select class="form-control" id="application" name="application" v-model="application" @change='getEndpointsByApplication'>
                                <option>--请选择--</option>
                                <option :value="application" v-for="application in applications">{{ application }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="form-check form-check-inline" v-for="e in endpoints" @click="refresh">
                                <input class="form-check-input" type="radio" v-model="endpoint" :value="e">
                                <label class="form-check-label" for="endpoint">{{ e.o1 }}:{{ e.o2 }}</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row table-responsive-md">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>主机</th>
                            <th>端口</th>
                            <th>开关</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="key in keys">
                            <td>{{ key.no }}</td>
                            <td>{{ endpoint.o1 }}</td>
                            <td>{{ endpoint.o2 }}</td>
                            <td>{{ key.key }}</td>
                            <td v-if="key.open"><span class="badge badge-success">开</span></td>
                            <td v-else><span class="badge badge-secondary">关</span></td>
                            <td>
                                <a class="text-secondary" data-toggle="modal" v-bind:data-target="'#' + key.no">明细</a>
                                <div v-bind:id="key.no" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <table class="table table-striped table-dark">
                                                <tr>
                                                    <td>应用名</td>
                                                    <td>{{ application }}</td>
                                                </tr>
                                                <tr>
                                                    <td>主机</td>
                                                    <td>{{ endpoint.o1 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>端口</td>
                                                    <td>{{ endpoint.o2 }}</td>
                                                </tr>
                                                <tr>
                                                    <td>开关</td>
                                                    <td>{{ key.key }}</td>
                                                </tr>
                                                <tr>
                                                    <td>描述</td>
                                                    <td>{{ key.describe }}</td>
                                                </tr>
                                                <tr>
                                                    <td>状态</td>
                                                    <td v-if="key.open"><span class="badge badge-success">开</span></td>
                                                    <td v-else><span class="badge badge-secondary">关</span></td>
                                                </tr>
                                                <tr>
                                                    <td>服务质量</td>
                                                    <td>{{ key.qos }}</td>
                                                </tr>
                                                <tr>
                                                    <td>操作</td>
                                                    <td>
                                                        <a class="text-success" v-on:click="change(key)">切换</a>
                                                        |
                                                        <a class="text-warning" v-on:click="persistence(key)">固化</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>创建时间</td>
                                                    <td>{{ key.createTime | datetime }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                |
                                <a class="text-success" v-on:click="change(key)">切换</a>
                                |
                                <a class="text-warning" v-on:click="persistence(key)">固化</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <footer class="footer navbar-fixed-bottom">
                <hr>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <p class="muted credit">©2019 Copyright: <a href="https://github.com/xincao9/jswitcher">xincao9</a></p>
                    </div>
                    <div class="col"></div>
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript">
Vue.filter('datetime', function (ms) {
    var date = new Date(ms);
    return date.toLocaleString();
});

var app = new Vue({
    el: '#app',
    data() {
        return {
            keys: [],
            endpoints: [],
            application: '--请选择--',
            applications: [],
            endpoint: null
        };
    },
    methods: {
        change: function (key) {
            var url = '/switcher/key/' + (key.open ? 'off' : 'on') + '/' + this.endpoint.o1 + '/' + this.endpoint.o2 + '/' + window.btoa(key.key);
            axios.get(url).then(
                    (response) => {
                if (response.status !== 200) {
                    console.log(response);
                } else {
                    key.open = !key.open;
                }
            });
        },
        persistence: function (key) {
            var url = '/switcher/key/set/' + this.endpoint.o1 + '/' + this.endpoint.o2 + '/' + window.btoa(key.key) + '/' + key.open;
            axios.get(url).then(
                    (response) => {
                if (response.status !== 200) {
                    console.log(response);
                } else {
                    alert('固化成功');
                }
            });
        },
        refresh: function () {
            axios.get('/switcher/endpoint/keys/' + this.endpoint.o1 + '/' + this.endpoint.o2).then(
                    (response) => {
                if (response.status !== 200) {
                    console.log(response);
                } else {
                    this.keys = response.data;
                }
            });
        },
        getEndpointsByApplication: function () {
            if ('--请选择--' === this.application) {
                return;
            }
            axios.get('/switcher/application/' + this.application + '/endpoints').then(
                    (response) => {
                if (response.status !== 200) {
                    console.log(response);
                } else {
                    this.endpoints = response.data;
                    if (this.endpoints === null || this.endpoints.length <= 0) {
                        return;
                    }
                    this.endpoint = this.endpoints[0];
                    this.refresh();
                }
            });
        }
    },
    mounted() {
        axios.get('/switcher/applications').then(
                (response) => {
            if (response.status !== 200) {
                console.log(response);
            } else {
                this.applications = response.data;
            }
        });
    }
});
        </script>
    </body>
</html>